build
build*qt*
build*Qt*

.history
CMakeLists.txt.user*
.vscode
!.vscode/settings.json


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
